<%- include('partials/header') %>
<%- include('partials/nav') %>
<div>
    <h1 class="display-4">About Me!</h1>
    <p class="mb-0">I am a software engineering student with a three year undergraduate degree and currently am pursuing my post graduate in Software Engineering with
        emphasis on Artificial Intelligence.Most recently I have worked as a virtualization engineer for 6 months as an intern and before that I had worked at a bank.Through these two experiences I have a grasp of how I must speak to different customers and how to explain them about products and also know
        how to be a team player</p>
</div>
   
<%- include('partials/footer') %>  