<!-- Author: Deep Patel
    This is the projects file for the app. It uses card components of bootstrap to display the information. -->
<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="card-group text-center border-0">
    <div class="card text-center border-0">
      <img
        class="card-img-top  mx-auto"
        src="static/projects/weather-app.png"
        alt="Weather App"
        style="height: 300px; width:300px;"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Weather App</h5>
        <p class="card-text">
          This is a simple weather app built using open weather api.
        </p>
        <a class="btn  btn-dark m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/KnowYourWeather">Github Link</a>
      </div>
    </div>
    <div class="card text-center border-0">
      <img
        class="card-img-top mx-auto"
        src="static/projects/todolist.png"
        alt="Web Development"
        style="height: 300px; width:300px;"
      />
      <div class="card-body">
        <h5 class="card-title">To-Do List app</h5>
        <p class="card-text">
          This is a basic TO-do List app i have built using react.js.
        </p>
        <a class="btn  btn-dark m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/todo-app">Github Link</a>
      </div>
    </div>
    <div class="card text-center border-0">
      <img
        class="card-img-top mx-auto "
        src="static/projects/rock-paper-scissors.png"
        alt="Rock Paper scissors"
        style="height: 300px; width:300px;"
      />
         
              <div class="card-body">
                  <h5 class="card-title">Rock Paper Scissors</h5>
                          <p class="card-text">
                              This is a basic Rock Paper Scissors app created using vanilla js.
                          </p>
                          <a class="btn  btn-dark m-auto p-3 m-auto p-3" href="https://github.com/deepatel014/Rock-Paper-Scissors">Github Link</a>
              </div>
      
    </div>
  </div>
<%- include('partials/footer') %>